<div class="container h-100 mb-5">
  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body login-container border border-secondary p-5">
        <h1 class="text-center mt-3">Login</h1>
        {{> message}}
        <form action="/users/login" method="POST" id="submit-form" novalidate onsubmit="return submitForm(event)">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email" required>
            <div class="invalid-feedback">
              請輸入 Email
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password" required>
            <div class="invalid-feedback">
              請輸入密碼
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-block mt-4" onclick="return clickSubmit()">Login</button>
          <a href="/auth/facebook" class="text-light btn btn-block" style="background: #4267B2;"><i class="fab fa-facebook-f mr-3"></i>Login with Facebook</a>
        </form>
        <p class="lead mt-4">
          No Account? <a href="/users/register" class="ml-2">Register</a>
        </p>
      </div>
    </div>
  </div>
</div>